.app-main {
  min-height: calc(100vh - 120px);
  background-color: #f8f9fa;
   display: flex;
  align-items: flex-start;
}

.app-card {
  min-height: 520px;
  width: 100%;
  border-radius: 0.75rem;
}

.card-body {
  padding: 2.5rem;
  width: 100%;
}
