.app-navbar {
  height: 56px;   
}

.navbar-brand span {
  font-size: 1.05rem;
}

.nav-link.active {
  font-weight: 600;
  border-bottom: 2px solid rgba(255,255,255,.8);
}

.avatar-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #0d6efd; /* mismo azul */
  border: 1px solid rgba(255,255,255,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
}
